/* About Section */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 60px 8px;

width: 1440px;
height: 648px;

background: url(bg-snow.png), #FF4646;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 1276px;
max-width: 1276px;
height: 528px;

background: #FFFFFF;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 60px;

width: 638px;
height: 528px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 60px 0px;
gap: 20px;

width: 426px;
max-width: 426px;
height: 328px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Caption  */

width: 426px;
height: 24px;

/* Caption */
font-family: 'Allura';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */
letter-spacing: 0.05em;

color: #FF4646;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header 2 */

width: 426px;
height: 72px;

/* Header 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152%;
/* or 36px */
letter-spacing: 0.16em;
text-transform: uppercase;

color: #181C29;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Paragraph */

width: 426px;
height: 72px;

/* Paragraph */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 148%;
/* or 24px */

color: #181C29;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Image Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 638px;
height: 528px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* santa */

width: 638px;
height: 528px;

background: url(Object.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
