/* CTA Sectoin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 60px 8px;

width: 1440px;
height: 668px;

background: url(bg-snow.png), url(bg-forest.png), #FF4646;
border-radius: 0px 0px 20px 20px;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 60px 0px;

width: 1276px;
max-width: 1276px;
height: 548px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 0px;
gap: 20px;

width: 426px;
max-width: 426px;
height: 428px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header 2 */

width: 426px;
height: 108px;

/* Header 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152%;
/* or 36px */
text-align: center;
letter-spacing: 0.16em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 32px;

width: 235px;
height: 56px;

background: #181C29;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Action Small */

width: 171px;
height: 16px;

/* Action Small */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 426px;
height: 104px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Caption */

width: 426px;
height: 24px;

/* Caption */
font-family: 'Allura';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Timer */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 12px 12px;

width: 344px;
height: 72px;

background: rgba(255, 255, 255, 0.4);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 80px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Header 2 */

width: 80px;
height: 36px;

/* Header 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152%;
/* or 36px */
text-align: center;
letter-spacing: 0.16em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header 4 */

width: 80px;
height: 16px;

/* Header 4 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Separator */

width: 20px;
height: 0px;

border: 1px solid rgba(255, 255, 255, 0.4);
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 80px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Header 2 */

width: 80px;
height: 36px;

/* Header 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152%;
/* or 36px */
text-align: center;
letter-spacing: 0.16em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header 4 */

width: 80px;
height: 16px;

/* Header 4 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Separator */

width: 20px;
height: 0px;

border: 1px solid rgba(255, 255, 255, 0.4);
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 80px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Header 2 */

width: 80px;
height: 36px;

/* Header 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152%;
/* or 36px */
text-align: center;
letter-spacing: 0.16em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header 4 */

width: 80px;
height: 16px;

/* Header 4 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Separator */

width: 20px;
height: 0px;

border: 1px solid rgba(255, 255, 255, 0.4);
transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 80px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Header 2 */

width: 80px;
height: 36px;

/* Header 2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 152%;
/* or 36px */
text-align: center;
letter-spacing: 0.16em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header 4 */

width: 80px;
height: 16px;

/* Header 4 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
